@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Geist Variable", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100svh;
}

@layer utilities {
  .text-heading {
    color: #08060d;
  }
}
